.wp-recommendations ul li h6, .wp-recommendations ul li h6 a {
	font-size: 11px;
	color: #999;
	text-transform: uppercase;
	
	line-height: 18px;
	font-weight: bold;		
}

.thumbnail {
  display: block;
  padding: 4px;
  line-height: 1;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.page-header {
  padding-bottom: 17px;
  margin: 18px 0;
  border-bottom: 1px solid #eeeeee;
}

.protective-well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          
  position: relative;
}

.wp-recommendations {
	margin: 20px 0;
}

.wp-recommendations form {
	margin: 0;	
}

.wp-recommendations ul {
	list-style: none;
	overflow: hidden;
}

.wp-recommendations ul li {
	float: left;
	margin: 1.0em;
	overflow: hidden;
	position: relative;
	
	
	border: 1px solid #f0f0f0;
	
	cursor: pointer;
}

.wp-recommendations ul li:hover {
	border: 1px solid rgb(7, 139, 205);
}

.wp-recommendations ul li:hover .wp-recommendations-meta {
	bottom: 0;
	left: 0;
	right: 0;
	
}


.wp-recommendations-meta {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	
	background: #f3f3f3;
	
	text-align: center;

	border-bottom: 1px solid #f0f0f0;
	
	padding: 3px 5px;
	
}

.wp-recommendations-meta-surpress {
	height: 18px;
}


form#wp-recommendations-form select {
	font-size: 12px;
	width: 160px;
	height: 25px;
	background: black;
	color: white;
	border: 3px solid #08C;
	font-weight: bold;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

form#wp-recommendations-form select:focus {
	outline: none;
}

img.load {
	position: absolute;
	top: 22px;
	left: 200px;
	
	display: none;
}


.wp-recommendations-meta h6 a {
	color: #999 !important;
}




































